{
    "subscription_id": "",
    "resource_group": "",
    "active_directory": {
        "tenant_id": "",
        "client_id": "",
        "client_secret": ""
    },
    "storage_account": {
        "name": "",
        "key": ""
    },
    "batch_ai": {
        "workspace": "",
        "experiment": "",
        "cluster_name": "",
        "job_name_prefix": ""
    },
    "utils_dir": "",
    "docker_image": ""
}
